# ----------------------------------------
# NECESSARY PARAMETERS
# ----------------------------------------
output_directory = 'testing4'

node_selection_file = 'make_node_selections.py'
trajectory_functions_file = 'trajectory_analysis_functions.py'
network_functions_file = 'network_analysis_functions.py'
visualization_functions_file = 'visualization_functions.py'

# BOOLEANS
trajectory_analysis_boolean = False
weight_by_avg_distance_boolean = False
summary_boolean = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

# STRUCTURES TO BE USED; whether a trajectory analysis is performed or not
pdb = '/home/rbdavid/Projects/Molecular_Machines/Helicase_DENV/Analysis/Comparisons/WISP/AMBER_ssrna_atp/production.150/truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
visualization_frame_pdb = '/home/rbdavid/Projects/Molecular_Machines/Helicase_DENV/Analysis/Comparisons/WISP/AMBER_ssrna_atp/production.150/truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed

# PARAMETERS NECESSARY TO ID NODES AND POSITIONS
substrate_node_definition = 'COM'
#substrate_selection_string = 'not resname Na+ Cl- WAT'
substrate_selection_string = 'protein'
# IF NODES ARE DEFINED FOR NONSTANDARD RESIDUES OR SPECIAL NODE DEFINITIONS ARE USED FOR CERTAIN RESIDUES
nonstandard_substrates_selection = 'nucleic or resname A3 A5 U3 U3 G5 G3 C5 C3 atp adp PHX MG'
homemade_selections = ['A5','A3','A','G5','G3','G','C5','C3','C','T5','T3','T','U5','U3','U','atp','adp','PHX','MG']

## if trajectory_analysis_boolean == True:
#alignment_selection = 'protein and name CA and (resid 20:25 50:55 73:75 90:94 112:116 142:147 165:169 190:194 214:218 236:240 253:258 303:307)'
#traj_list = ['/home/rbdavid/Projects/Molecular_Machines/Helicase_DENV/Analysis/Comparisons/WISP/AMBER_ssrna_atp/production.150/production.150.dcd']
#contact_map_distance_cutoff = 15.0

## if trajectory_analysis_boolean == False:
user_input_correlation_data = '/home/rbdavid/Scripts/git/WISP_mdanalysis_implementation/testing/node_node_correlation.dat'
user_input_avg_node_node_distance_data = '/home/rbdavid/Scripts/git/WISP_mdanalysis_implementation/testing/avg_node_node_distance.dat'
user_input_binary_contact_map_data = '/home/rbdavid/Scripts/git/WISP_mdanalysis_implementation/testing/binary_contact_map.dat'

# WISP parameters
source_selection_string_list = ['atp_459_G_Phosphate']
sink_selection_string_list = ['G_453_Phosphate']
number_of_paths = 75

# VISUALIZATION PARAMETERS
node_sphere_radius = 0.50
node_sphere_rgb = (0.0, 0.0, 0.0)
shortest_path_rgb = (1.0, 0.5, 0.0)
longest_path_rgb = (1.0, 0.0, 1.0)
shortest_path_radius = 0.25
longest_path_radius = 0.05
node_sphere_color_index = 34
VMD_color_index_range = (35, 109)
VMD_resolution = 100
VMD_spline_smoothness = 0.025

